<!--The content below is only a placeholder and can be replaced.-->
<header>
  <nav class="navbar navbar-inverse">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">My Angular 2 App!</a>
    </div>
  </nav>
</header>

<main>
  <div class="row">
    <div class="col-sm-4">
      <div *ngIf="users">
        <ul class="list-group users-list" >
          <li class="list-group-item" *ngFor="let user of users" (click)="selectUser(user)" [class.active]="user === activeUser">
            The user is {{ user.name}} ({{user.username}}).
          </li>
        </ul>
      </div>
      <user-form></user-form>
    </div>
    <div class="col-sm-8">
      <user-profile [user]="activeUser"></user-profile>
    </div>
  </div>


</main>


<footer class="text-center">
  Made in order to improve my Angular 2 skills and knowledge. Visit my Github profile at https://github.com/pabloimrik17
</footer>

